In [1]:
import requests
from bs4 import BeautifulSoup

In [14]:
link = "https://books.toscrape.com/catalogue/page-1.html"
res = requests.get(link)
soup = BeautifulSoup(res.text , 'html.parser')

In [16]:
data = []
for sp in soup.find_all('li' , class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    
    book_link = 'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')
    img_link  =  'https://books.toscrape.com/' +  sp.find('img').get('src')[3:]
    title   =     sp.find_all('a')[-1].get('title')
    rating  =     sp.find('p').get('class')[1]
    cost    =     sp.find('p' ,  class_ = "price_color").text[1:-1]
    sock    =     sp.find('p' ,  class_ = "instock availability").text.strip()
    data.append([title,rating,cost,sock,book_link,img_link])

In [18]:
data

[['A Light in the Attic',
  'Three',
  '£51.7',
  'In stock',
  'https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
  'https://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg'],
 ['Tipping the Velvet',
  'One',
  '£53.7',
  'In stock',
  'https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html',
  'https://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg'],
 ['Soumission',
  'One',
  '£50.1',
  'In stock',
  'https://books.toscrape.com/catalogue/soumission_998/index.html',
  'https://books.toscrape.com/media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg'],
 ['Sharp Objects',
  'Four',
  '£47.8',
  'In stock',
  'https://books.toscrape.com/catalogue/sharp-objects_997/index.html',
  'https://books.toscrape.com/media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg'],
 ['Sapiens: A Brief History of Humankind',
  'Five',
  '£54.2',
  'In stock',
  'https://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html',
  'https://books.toscrape.com/media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg'],
 ['The Requiem Red',
  'One',
  '£22.6',
  'In stock',
  'https://books.toscrape.com/catalogue/the-requiem-red_995/index.html',
  'https://books.toscrape.com/media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg'],
 ['The Dirty Little Secrets of Getting Your Dream Job',
  'Four',
  '£33.3',
  'In stock',
  'https://books.toscrape.com/catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html',
  'https://books.toscrape.com/media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg'],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  'Three',
  '£17.9',
  'In stock',
  'https://books.toscrape.com/catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html',
  'https://books.toscrape.com/media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg'],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  'Four',
  '£22.6',
  'In stock',
  'https://books.toscrape.com/catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html',
  'https://books.toscrape.com/media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg'],
 ['The Black Maria',
  'One',
  '£52.1',
  'In stock',
  'https://books.toscrape.com/catalogue/the-black-maria_991/index.html',
  'https://books.toscrape.com/media/cache/58/46/5846057e28022268153beff6d352b06c.jpg'],
 ['Starving Hearts (Triangular Trade Trilogy, #1)',
  'Two',
  '£13.9',
  'In stock',
  'https://books.toscrape.com/catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html',
  'https://books.toscrape.com/media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg'],
 ["Shakespeare's Sonnets",
  'Four',
  '£20.6',
  'In stock',
  'https://books.toscrape.com/catalogue/shakespeares-sonnets_989/index.html',
  'https://books.toscrape.com/media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg'],
 ['Set Me Free',
  'Five',
  '£17.4',
  'In stock',
  'https://books.toscrape.com/catalogue/set-me-free_988/index.html',
  'https://books.toscrape.com/media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg'],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
  'Five',
  '£52.2',
  'In stock',
  'https://books.toscrape.com/catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html',
  'https://books.toscrape.com/media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg'],
 ['Rip it Up and Start Again',
  'Five',
  '£35.0',
  'In stock',
  'https://books.toscrape.com/catalogue/rip-it-up-and-start-again_986/index.html',
  'https://books.toscrape.com/media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg'],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  'Three',
  '£57.2',
  'In stock',
  'https://books.toscrape.com/catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html',
  'https://books.toscrape.com/media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg'],
 ['Olio',
  'One',
  '£23.8',
  'In stock',
  'https://books.toscrape.com/catalogue/olio_984/index.html',
  'https://books.toscrape.com/media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg'],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849',
  'One',
  '£37.5',
  'In stock',
  'https://books.toscrape.com/catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html',
  'https://books.toscrape.com/media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg'],
 ['Libertarianism for Beginners',
  'Two',
  '£51.3',
  'In stock',
  'https://books.toscrape.com/catalogue/libertarianism-for-beginners_982/index.html',
  'https://books.toscrape.com/media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg'],
 ["It's Only the Himalayas",
  'Two',
  '£45.1',
  'In stock',
  'https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html',
  'https://books.toscrape.com/media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']]

In [20]:
link

'https://books.toscrape.com/catalogue/page-1.html'

In [22]:
## now for all pages data to be collected

In [24]:
from tqdm import tqdm

In [26]:
data = []
for i in tqdm(range(1,51)):
    link = 'https://books.toscrape.com/catalogue/page-' + str(i) + '.html'
    res = requests.get(link)
    soup = BeautifulSoup(res.text, 'html.parser')
    
    for sp in soup.find_all('li' , class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    
        book_link = 'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')
        img_link  =  'https://books.toscrape.com/' +  sp.find('img').get('src')[3:]
        title   =     sp.find_all('a')[-1].get('title')
        rating  =     sp.find('p').get('class')[1]
        cost    =     sp.find('p' ,  class_ = "price_color").text[1:-1]
        sock    =     sp.find('p' ,  class_ = "instock availability").text.strip()
        data.append([title,rating,cost,sock,book_link,img_link])

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [01:22<00:00,  1.65s/it]

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(data , columns = ['title', 'rating' , 'cost' , 'stock' , 'book_link' , 'img_link'])

In [32]:
df.head()

,title,rating,cost,stock,book_link,img_link
0,A Light in the Attic,Three,£51.7,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,£53.7,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,£50.1,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,£47.8,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,£54.2,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

## now finding the data each book seperate

In [34]:
df.to_csv('book.csv',index = False)

In [36]:
df1 = pd.read_csv('book.csv')

In [38]:
df1.head()

,title,rating,cost,stock,book_link,img_link
0,A Light in the Attic,Three,£51.7,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,£53.7,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,£50.1,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,£47.8,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,£54.2,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [40]:
data = []

for link in tqdm(df1['book_link']):
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text, 'html.parser')
    
    typ = soup.find('ul', class_ = 'breadcrumb').find_all('a')[2].text
    
    temp = soup.find('table', class_ = 'table table-striped').find_all('td')
    
    upc      = temp[0].text
    price_x  = temp[2].text[2:]
    price_i  = temp[3].text[2:]
    tax      = temp[4].text[2:]
    qn       = temp[5].text
    reviews  = temp[6].text
    
    data.append([typ, price_x, price_i, tax, qn, upc, reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [18:29<00:00,  1.11s/it]

In [46]:
df2 = pd.DataFrame(data , columns=["typ" , 'upc' , 'price_x' , 'price_i' ,'tax','qn','reviews'])

In [48]:
df2.to_csv('data.csv' , index = False)